/***** CSS RESET *****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
}
/**********************/

body{
    background-color: #ADD8E6;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 82px;
    text-shadow: 1px 1px 1px grey;
    line-height: 160px;
}

main{
    width: 900px;
    height: 700px;
    margin: auto;
}


 /* STYLE CARD HOVER */
.card:hover .figure-name-card{
    opacity: 1.0;
}
.card:hover{
    background-color: white;
    background-image: none;
}
/***************************/

/* STYLE CARD AND COVER CARD */
.card{
    display: inline-block;
    height: 220px;
    width: 190px;
    margin: 20px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px #aaaaaa;
}

.cover-card{
    background-image: url("../img/pattern.png");
    background-size: contain;
}

.card div.figure-name-card:only-child{
    background-color: #fff;
    width: 70%;
    margin: 10px auto;
}
.figure-name-card {
    opacity: 0;
    padding-top: 9px;
}

.figure-name-card > h2.name-card{
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
/****************************/

 /* STYLE NAME CARD */
.air-baloon{
    color: #ff66cc;
}
.tractor{
    color: #dd9700;
}
.bicycle{
    color: #002fdb;
}
.cruise-ship{
    color: #03aa3e;
}
.tram{
    color:#009399;
}
.submarine{
    color: #750be0;
}
/**************************/

footer{
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
}